---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- statefulset.yml
- service.yml

images:
- name: dynamodb
  newName: docker.io/saidsef/aws-dynamodb-local
  newTag: latest